<% if (locals.alertMsg) { %>
  <div class="m-auto" style="position: relative; background-color:aquamarine; max-width: 0px;">
    <div class="alert alert-<%= alertStyle %> text-center" role="alert" style="width: 160px; position: absolute; top: 50px; transform: translate(-50%, 0); "><%= alertMsg %></div>
  </div>
<% } %>

