<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-info navbar-dark">
    <a class="navbar-brand" href="/">TinyApp</a>
    <ul class="navbar-nav mr-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (!locals.user?.email) { %>
          <a class="nav-link" href="/login">My URLs</a>
          <% } else { %>
          <a class="nav-link" href="/urls">My URLs</a>
          <a class="nav-link" href="/urls/new">Create New URL</a>
          <% } %>
      </ul>
      <% if (!locals.user?.email) { %>
        <a href="/login"><button type="button"class="btn btn-dark" style="margin-right: 1em">Login</button></a>
        <a href="/register"><button type="button" class="btn btn-primary" style="margin-right: 1em">Register</button></a>
        <% } else { %>
          <form type="button" class="form-inline" method="POST" action="/logout">
            <span class="navbar-text text-dark" style="margin-right: 1em;"><strong><%= user.email %></strong></span>
            <button class="btn btn-light" >Logout</button>
          </form>
        <% } %>
      </div>
    </div>

  </nav>
</header>