<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/bootstrap-dark.min.css">
  <title>TinyApp - New Account</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <div class="m-auto text-center">
      <h2>Create New Account</h2>
      <br>
      <form class="form-group" method="POST" action="/register">
        <input class="form-control bg-light text-dark m-auto" name="email" placeholder="me@hello.com" style="max-width: 300px;"></input>
        <br>
        <div class="m-auto">
          <input class="form-control bg-light text-dark" name="password" placeholder="Password" type="password" style="max-width: 300px; margin: inherit; margin-bottom: 4px;"></input>
          <input class="form-control bg-light text-dark" name="passwordRepeat" placeholder="Confirm Password" type="password" style="max-width: 300px; margin: inherit;"></input>
        </div>
        <br>
        <button type="submit" class="btn btn-dark" >Submit</button>
      </form>
      <%- include('partials/_alert') %>
    </div>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>